/* 공통변수 css */
:root {
    --bg: #fdfcfd;
    --box-bg: #100c42;
    --text: #3b3393;
    --accent: #c6c4e9ba;
    --subaccent: #5b52bad4;
    --border: #130d51;
    --ansfont: #fbfbfde9;
    --imgfilter: invert(3%) sepia(83%) saturate(7031%) hue-rotate(251deg) brightness(106%) contrast(99%);

    --code-keyword: #a626a4;
    --code-variable: #e45649;
    --code-string: #50a14f;
    --code-function: #4078f2;
    --code-number: #986801;
    --code-object: #0184bc;
    --code-property: #383a42;
}

body.dark {
    --bg: #080d17;
    --box-bg: #151c27;
    --text: #c7c7d7;
    --accent: #57e6a5;
    --subaccent: #57e6a6c6;
    --border: #168955c6;
    --ansfont: #f7fff7;
    --imgfilter: invert(75%) sepia(56%) saturate(404%) hue-rotate(95deg) brightness(95%) contrast(93%);

    --code-keyword: #c678dd;
    --code-variable: #e06c75;
    --code-string: #98c379;
    --code-function: #61afef;
    --code-number: #d19a66;
    --code-object: #56b6c2;
    --code-property: #abb2bf;
}