@import url('./reset.css');
@import url('./common.css');

html, body {
    height: 100%;
    background-color: var(--bg);
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body.loaded .menu-box {
    top: 0vh;
}

.menu-box {
    width: 100%;
    position: fixed;
    top: -20vh;
    left: 0;
    z-index: 1;
}

.menu-hamburger {
    width: 40px;
    height: 36px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: -50px;
    left: 4vw;
    z-index: 1100;
}

.loaded .menu-hamburger {
    top: 4vw;
    transition: 0.3s ease-in-out;
}

.menu-hamburger.on {
    margin-top: -12px;
    transition: 0.3s;
}

.menu-hamburger.on .bar:first-child {
    transform: rotate(43deg);
    margin-top: 29px;
}

.menu-hamburger.on .bar:nth-child(2) {
    opacity: 0;
}

.menu-hamburger.on .bar:last-child {
    transform: rotate(-43deg);
    margin-top: -29px;
}

.bar {
    width: 100%;
    height: 20%;
    background-color: var(--accent);
    border-radius: 5px;
    transition: 0.3s;
}

.menu-box.on .menu-list {
    display: flex;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    list-style: none;
}
.menu-list a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: auto;
    position: relative;
}

.menu-list a:hover {
    opacity: 0.45;
    transition: 0.3s ease-in-out;
}

.menu-list a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
    border-radius: 20%;
    position: absolute;
    bottom: 0;;
    transition: 0.3s ease-in-out;
}

.mode-change {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    border-radius: 100%;
    color: #fff;
    gap: 1vh;
    position: absolute;
    top: 2.5vw;
    right: 2.5vw;
    z-index: 4;
    cursor: pointer;
}

.mode-change div {
    font-size: 3em;
    position: absolute;
}

.mode-change div:first-child {
    margin-top: 6px;
    opacity: 0;
}

.mode-change div:last-child {
    margin-top: 11px;
    opacity: 1;
    transform: rotate(-40deg);
}

.mode-change.dark {
    color: #000;
}

.mode-change.dark div:first-child {
    opacity: 1;
}

.mode-change.dark div:last-child {
    opacity: 0;
}

.main-box {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE & Edge */
}

.main-box::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, and Opera */
}

.sections {
    height: 100vh;
    padding-inline: 3vw;
    padding-block: 12vh 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--text);
    scroll-snap-align: start;
    position: relative;
}

.sections * {
    color: var(--text);
    max-height: 100vh;
}

/* greeting section */
.typing-container {
    color: #61dafb;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: clamp(2rem, 5vw, 3.5rem);
    white-space: nowrap;
    overflow: hidden;
    max-width: 90vw;
}

.typed-text {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-family: auto;
}

.typed-text.has-cursor::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0.07em;
    height: 1em;
    background-color: var(--text);
    margin-left: 4px;
    margin-bottom: 1.5vh;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { background-color: var(--text); }
    50% { background-color: #fff; }
}

.replay-button {
    width: 5vw;
    height: auto;
    background-color: #fffaf3;
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.1s linear;
}

.replay-button:hover {
    transform: scale(1.3);
}

.replay-button:hover img {
    animation: spin 4s linear infinite;
    opacity: 0.6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* introduce section */
.introduce-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
}

.introduce-box img {
    height: 100%;
}

.introduce-container {
    margin: 0 auto;
    /* font-family: Arial, sans-serif; */
}

.introduce-item {
    margin-bottom: 10px;
}

.question {
    max-height: 70px;
    padding: 0.8vw;
    padding-left: 1.6vw;
    background-color: var(--accent);
    color: var(--border);
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    transition: background-color 0.3s;
}

.question:hover {
    background-color: var(--subaccent);
}

.answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    color: var(--ansfont);
    font-size: 2vw;
    font-weight: 500;
    background-color: var(--subaccent);
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.introduce-item.open .answer {
    max-height: 40vh;
    padding: 15px;
    overflow: auto;
}

/* skill section */
.skill-box {
    width: 100%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10vh;
}

.skill-header {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 2rem;
}

.skill-title {
    display: flex;
    gap: 5vw;
    flex-direction: column;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: var(--text);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .slider {
  background-color: var(--accent);
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(26px);
}

.skill-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.skill-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.skill-row {
    display: flex;
    gap: 15px;
}

.skill-box .skill-category {
    font-size: 2.5vw;
    color: var(--subaccent);
    transition: 0.3s;
    font-weight: 700;
}

.skill-box .skill-category:first-child,
.skill-box.main .skill-item,
.skill-box.main .skill-category:last-child,
.skill-box .skill-item.can {
    opacity: 0.3;
    transform: scale(0.93);
}

.skill-box .skill-category:last-child,
.skill-box.main .skill-category:first-child,
.skill-box.main .skill-item.can,
.skill-box .skill-item {
    opacity: 1;
    transform: scale(1);
}

.skill-item {
    width: 12vw;
    max-width: 150px;
    background-color: #fff;
    border: 2px solid var(--text);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s;
}

.skill-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* contact */

.contact-list {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.contact-menu {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    aspect-ratio: 1 / 1;
}

.contact-icon {
    width: auto;
    height: 80%;
    padding: 8px;
    border-radius: 10%;
    background-color: #fffaf3;
    aspect-ratio: 1 / 1;
}

.contact-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contact-method {
    width: 100%;
    text-align: center;
    font-size: 4vw;
    white-space: nowrap;
}

.footer {
    width: 100%;
    height: auto;
    padding-block: 2vh 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    color: var(--text);
    background-color: var(--accent);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
}