/* 태블릿 */
@media (min-width: 768px) and (max-width: 1024px) {
    .menu-list a {
        font-size: 2vw;
    }

    .question {
        font-size: 2.4vw;
    }
    .answer {
        font-size: 2.6vw;
    }
}

/* 모바일 */
@media (max-width: 767px) {
    .menu-box {
        height: 100%;
        top: 0 !important;
    }
    .menu-box.on {
        z-index: 3;
    }
    .menu-hamburger {
        display: flex;
    }
    .menu-list {
        width: 100%;
        height: 100%;
        display: none;
        background-color: rgb(198 196 233/95%);
        flex-direction: column;
        justify-content: space-around;
        padding-top: 8vw;
        border-radius: 0;
    }
    .dark .menu-list {
        background-color: rgb(78 98 89 / 95%);
    }
    .menu-list a {
        font-size: 4.3vw;
    }
    .main-box {
        position: relative;
        z-index: 2;
    }

    .typed-text {
        white-space: pre-wrap;
    }

    .question {
        font-size: 4vw;
    }
    .answer {
        font-size: 4.5vw;
    }

    .introduce-box::before {
        content: "";
        width: 100%;
        height: 90%;
        background-image: url('../images/daily_profile.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        opacity: 0.2;
        z-index: -1;
    }
    .introduce-box img {
        display: none;
    }

    .skill-box {
        flex-direction: column;
        gap: 3vw;
    }
    .skill-box .skill-category {
        font-size: 7vw;
    }
    .skill-box.main .skill-category:first-child,
    .skill-box .skill-category:last-child {
        display: block;
    }
    .skill-box.main .skill-category:last-child,
    .skill-box .skill-category:first-child {
        display: none;
    }
    .skill-header {
        flex-direction: column;
    }
    .skill-item {
        width: 16vw;
    }

    .footer {
        padding-block: 1vh 1vh;
        font-size: 2.7vw;
    }
}

/* 소형 모바일 */
@media (max-width: 480px) {
    .skill-box {
        gap: 10vw;
    }
    .skill-category {
        font-size: 10vw;
    }
    .skill-list {
        gap: 5px;
    }
    .skill-row {
        gap: 5px;
    }
    .skill-item {
        width: 20.5vw;
    }

    .contact-menu {
        flex-direction: column;
    }

    .footer {
        padding-block: 1vh 1vh;
        font-size: 3.5vw;
    }
}

@media (orientation: landscape) {
    .skill-item {
        width: 10vw;
    }
}